.Container {
  margin: 4rem 5rem;
  display: flex;
}

.UserImage {
  display: inline-block;
  border-radius: 20rem;
  overflow: hidden;
  height: 3.5rem;
  width: 3.5rem;
  background-size: cover;
  background-position: center;
  background-color: aquamarine;
}

.User {
  padding: 8px 10px;
  background-color: #161b22;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}

.CommentsCont {
  margin-left: 8px;
  max-width: 60%;
  text-align: left;
  border: 1.5px solid rgba(204, 204, 204, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.Comments {
  padding: 1rem 10px;
}
