.Issue {
  background-color: #0d1117;
  padding: 8px 20px;
  text-align: left;
  border-bottom: 1px solid rgba(204, 204, 204, 0.1);

  display: flex;
}

.Issue:hover {
  background-color: #161b22;
}

.Icon {
  display: inline-block;
  margin-right: 8px;
}

.Icon svg {
  fill: #56d364;
  height: 1rem;
  width: 1rem;
}

.Link,
.Link:active,
.Link:visited {
  text-decoration: none;
}

.Title {
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.Title:hover {
  color: #58a6ff;
}

.SubTitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.72rem;
}
